ion-side-menus
	ion-side-menu(side='left')
		div#menu-header
			div#menu-user-profile-picture
				img(ng-src='http://lorempixel.com/output/people-q-c-500-500-8.jpg')
			div#menu-user-name Diogo Carvalho
		div#menu-actions-list
			div(ui-sref='main.tabs' menu-toggle="left").menu-action.waves-effect
				i.ion-android-home
				span Inicio
			div(ui-sref='main.profile' menu-toggle="left").menu-action.waves-effect
				i.ion-person
				span Perfil
			div(ui-sref='main.publication' menu-toggle="left").menu-action.waves-effect
				i.ion-ios-albums
				span Minhas Publicações
			div.menu-diveder
			div.menu-action
				i.ion-coffee
				span Compre-nos um café!
			div.menu-action 
				i.ion-android-star 
				span Gostou do app? Avalie!
	ion-side-menu-content
		div#header-bar
			div(menu-toggle="left")#sidemenu-toggle.waves-effect.waves-light
				span.ion-navicon
			span#header-bar-title {{ main.title }}
			span#header-bar-filter
				span.ion-ribbon-b
			span(ui-sref='main.notifications')#header-bar-premium
				span.ion-ios-bell.waves-effect.waves-circle.waves-light
		ion-nav-view(name='main-window')