ion-content(ng-controller='ChatsController as chats').page-content
	div
		div.list
			a.item.item-avatar
				img(src='http://lorempixel.com/output/people-q-c-500-500-9.jpg')
				h2 Camila Oliveira
				p Quando começam as aulas?
			a.item.item-avatar
				img(src='http://lorempixel.com/output/people-q-c-500-500-3.jpg')
				h2 Mateus Silva
				p Urna facilisis consectetur...
			a.item.item-avatar
				img(src='http://lorempixel.com/output/people-q-c-500-500-8.jpg')
				h2 Diogo Carvalho
				p Roin ornare lacinia dolor
			a.item.item-avatar
				img(src='http://lorempixel.com/output/people-q-c-500-500-4.jpg')
				h2 Vitor Martins
				p Lorem ipsum dolor sit amet.
			a.item.item-avatar
				img(src='http://lorempixel.com/output/people-q-c-500-500-6.jpg')
				h2 Rafaela Costa
				p Consectetur adipiscing elit
			a.item.item-avatar
				img(src='http://lorempixel.com/output/people-q-c-500-500-5.jpg')
				h2 Thiago Correia
				p Aliquam hendrerit purus sit amet
			a.item.item-avatar
				img(src='http://lorempixel.com/output/people-q-c-500-500-1.jpg')
				h2 Giovanna Silva
				p Mauris in feugiat dui phasellust.