ion-view
	ion-slides(option='sliderOptions' slider='data.slider')
		ion-slide-page
			div
				h2 Hello
		ion-slide-page
			div
				h2 From
		ion-slide-page
			div
				h2 Students
		ion-slide-page
			div.intro-finale