ion-content
		div#login-holder
			div#login-logo-holder
				img(src='img/signin.png')
			div#login-user-type-select-holder
				div#login-user-type-select
					button(ng-click='go("prof")').button.button-block Trabalho com Yoga
					button(ng-click='go("student")').button.button-block Quero práticar Yoga