ion-view
	ion-slides(option='sliderOptions' slider='data.slider')
		ion-slide-page
			div.intro-slide-page
				img(src='img/welcome-prof-1.png')
				h2 Divulgue seu trabalho
				p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ut pretium lectus. Proin facilisis justo et est cursus, ac egestas nulla ornare. Donec et arcu lectus.
		ion-slide-page
			div.intro-slide-page
				img(src='img/welcome-prof-2.png')
				h2 Encontre novos alunos
				p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ut pretium lectus. Proin facilisis justo et est cursus, ac egestas nulla ornare. Donec et arcu lectus.
		ion-slide-page
			div.intro-slide-page
				img(src='img/welcome-prof-3.png')
				h2 Divulgue eventos
				p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ut pretium lectus. Proin facilisis justo et est cursus, ac egestas nulla ornare. Donec et arcu lectus.
		ion-slide-page
			div.intro-finale