ion-view
	div#recover-back-button
		i.fa.fa-angle-right
	ion-content
		h3 Perdeu sua senha?
		input(type='email' ng-model='data.email' placeholder='Seu E-mail')
		button.button.button-block Recuperar Senha
