#email-modal-header{
	width: 100%;
	height: 50px;
	line-height: 50px;
	padding: 0 32px;
	font-size: 1rem;
	@include display(flex);
	background-color: $c1;
	color: $white;
}

#email-modal-title{
	@include flex(1);
}

#email-modal-close{
	font-size: 1.4rem;
}