ion-view
	div#tabs-bar
		div#tabs-items
			div(ng-click='tabs.go(0)').navtab-item Cartões
			div(ng-click='tabs.go(1)').navtab-item Publicações
			div(ng-click='tabs.go(2)').navtab-item Mensagens
		div#tabs-indicator
		div#tabs-rail
	ion-content(scroll='false').card-bg
		ion-slides(option='sliderOptions' slider='data.slider')
			ion-slide-page
				div(ng-include="'./views/cardsView.html'")
			ion-slide-page
				div(ng-include="'./views/publicationsView.html'")
			ion-slide-page
				div(ng-include="'./views/chatsView.html'")
	